<div
  class="flex flex-col gap-4 cursor-pointer"
  (click)="openTrail(trailItem.id)"
>
  <div class="bg-slate-200 rounded-md h-48 w-full overflow-hidden">
    <img
      [src]="trailItem.images[0]"
      alt="Trail Image"
      class="bg-slate-200 rounded-md h-48 w-full object-cover hover:scale-125 transition-all duration-200"
    />
  </div>
  <div class="flex flex-col gap-1">
    <h4 class="font-semibold">{{ trailItem.routeName }}</h4>
    <h5>
      <span *ngIf="trailItem.area.city">{{ trailItem.area.city }}, </span>
      {{ trailItem.area.country }}
    </h5>
    <div class="flex gap-4 text-light-800 font-semibold">
      <div class="flex items-center gap-2">
        <i class="fa-solid fa-up-right-and-down-left-from-center fa-sm"></i>
        {{ trailItem.distance | distanceConverter }}
      </div>
      <div class="flex items-center gap-2">
        <i class="fa-regular fa-clock fa-sm"></i>
        {{ trailItem.duration | durationConverter }}
      </div>
    </div>
  </div>
</div>
