<nav class="flex w-full justify-between items-center mb-6">
  <ul class="flex gap-6 font-semibold">
    <li routerLink="/explore" class="cursor-pointer hover:opacity-60 transition">Find a trail</li>
    <li routerLink="/trail-planner" class="cursor-pointer hover:opacity-60 transition">Plan a trail</li>
  </ul>
  <div class="flex gap-2 items-center">
    <img class="w-6" src="../../assets/jh-logo.svg" alt="JourneyHub logo" />
    <span class="font-semibold">JourneyHub</span>
  </div>
  <div class="flex gap-2 font-semibold">
    <button routerLink="/signin" class="px-6 py-2 rounded-md hover:opacity-60 transition">
      Sign in
    </button>
    <button routerLink="/signup" class="bg-dark-900 text-white hover:bg-opacity-80 transition px-6 py-2 rounded-md">Sign up</button>
  </div>
</nav>
