<div class="flex flex-col gap-10 items-center pt-12">
  <h1 class="text-2xl font-medium">Sign Up to JourneyHub</h1>
  <form
    [formGroup]="signUpForm"
    (ngSubmit)="onSubmit()"
    class="max-w-sm w-full flex flex-col gap-8"
  >
    <app-input
      [control]="signUpForm.controls.name"
      inputId="name"
      inputType="name"
      label="Username"
      [customErrorMessages]="registerValidationMessages.username"
    />

    <app-input
      [control]="signUpForm.controls.email"
      inputId="email"
      inputType="email"
      label="Email"
      [customErrorMessages]="registerValidationMessages.email"
    />

    <app-input
      [control]="signUpForm.controls.password"
      inputId="password"
      inputType="password"
      label="Password"
      [customErrorMessages]="registerValidationMessages.password"
    />

    <app-input
      [control]="signUpForm.controls.confirmPassword"
      inputId="confirm-password"
      inputType="password"
      label="Confirm password"
      [customErrorMessages]="registerValidationMessages.confirmPassword"
    />

    <button
      [disabled]="signUpForm.invalid"
      class="bg-dark-900 hover:bg-opacity-80 transition text-white py-3 rounded-md font-semibold disabled:bg-opacity-80 disabled:cursor-not-allowed"
    >
      Create Account
    </button>

    <span class="text-center"
      >Already have an account?
      <a class="underline hover:opacity-50 transition" routerLink="/signin"
        >Sign in</a
      ></span
    >
  </form>
</div>
