<div class="flex flex-col gap-10 items-center pt-12">
  <h1 class="text-2xl font-medium">Sign Up to JourneyHub</h1>
  <form
    [formGroup]="signUpForm"
    (ngSubmit)="onSubmit()"
    class="max-w-sm w-full flex flex-col gap-8"
  >
    <div class="flex flex-col gap-2 w-full">
      <label for="name">Username</label>
      <input
        formControlName="name"
        id="name"
        type="text"
        class="border-light-600 border-2 p-3 rounded-md outline-none focus:border-dark-900"
      />
      <div
        *ngIf="name?.invalid && (name?.dirty || name?.touched)"
        class="text-red-700"
      >
        <div *ngIf="name?.errors?.['required']">Username is required.</div>
        <div *ngIf="name?.errors?.['minlength']">
          Username must be at least 4 characters long.
        </div>
        <div *ngIf="name?.errors?.['maxlength']">
          Username cannot be more than 16 characters long.
        </div>
        <div *ngIf="name?.errors?.['pattern']">
          Username must consist of letters and numbers only.
        </div>
      </div>
    </div>

    <div class="flex flex-col gap-2 w-full">
      <label for="email">Email</label>
      <input
        formControlName="email"
        id="email"
        type="email"
        class="border-light-600 border-2 p-3 rounded-md outline-none focus:border-dark-900"
      />
      <div
        *ngIf="email?.invalid && (email?.dirty || email?.touched)"
        class="text-red-700"
      >
        <div *ngIf="email?.errors?.['required']">Email is required.</div>
        <div *ngIf="email?.errors?.['email']">
          Please enter a valid email address.
        </div>
      </div>
    </div>

    <div class="flex flex-col gap-2 w-full">
      <label for="password">Password</label>
      <input
        formControlName="password"
        id="password"
        type="password"
        class="border-light-600 border-2 p-3 rounded-md outline-none focus:border-dark-900"
      />
      <div
        *ngIf="password?.invalid && (password?.dirty || password?.touched)"
        class="text-red-700"
      >
        <div *ngIf="password?.errors?.['required']">Password is required.</div>
        <div *ngIf="password?.errors?.['minlength']">
          Password must be at least 8 characters long.
        </div>
        <div *ngIf="password?.errors?.['pattern']">
          Password must include uppercase and lowercase letters, a number, and a
          special character.
        </div>
      </div>
    </div>

    <div class="flex flex-col gap-2 w-full">
      <label for="confirm-password">Repeat password</label>
      <input
        formControlName="confirmPassword"
        id="confirm-password"
        type="password"
        class="border-light-600 border-2 p-3 rounded-md outline-none focus:border-dark-900"
      />
      <div
        *ngIf="
          confirmPassword?.invalid &&
          (confirmPassword?.dirty || confirmPassword?.touched)
        "
        class="text-red-700"
      >
        <div *ngIf="confirmPassword?.errors?.['required']">
          Repeating the password is required.
        </div>
        <div *ngIf="confirmPassword?.errors?.['mustMatch']">
          Passwords must match.
        </div>
      </div>
    </div>

    <button
      [disabled]="signUpForm.invalid"
      class="bg-dark-900 hover:bg-opacity-80 transition text-white py-3 rounded-md font-semibold disabled:bg-opacity-80 disabled:cursor-not-allowed"
    >
      Create Account
    </button>

    <span class="text-center"
      >Already have an account?
      <a class="underline hover:opacity-50 transition" routerLink="/signin"
        >Sign in</a
      ></span
    >
  </form>
</div>
