<div class="max-w-5xl m-auto mt-10">
  <ng-container>
    <div class="flex flex-col gap-10">
      <div class="text-center flex flex-col gap-10">
        <h1 class="text-4xl font-semibold">
          {{ pageDescription[mode].title }}
        </h1>
        <span class="text-xl">{{ pageDescription[mode].subtitle }}</span>
      </div>
      <div class="grid lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 gap-6">
        <app-trail-item
          *ngFor="let trailItem of trails"
          [trailItem]="trailItem"
        ></app-trail-item>
      </div>
    </div>
    <ng-template #noTrail>
      <div
        class="bg-red-200 rounded-xl border-red-700 border-2 text-center text-lg font-semibold w-full p-3"
      >
        No trails found!
      </div>
    </ng-template>
  </ng-container>

  <ng-template #loading>
    <div class="mb-6">
      <!-- <app-loader></app-loader> -->
      loading
    </div>
  </ng-template>

  <div
    *ngIf="!isLoading && trails.length < totalTrails"
    class="flex justify-center"
  >
    <button
      class="bg-light-500 text-dark-900 font-bold py-3 px-4 rounded mt-10"
      (click)="loadTrails()"
    >
      Show More
    </button>
  </div>
</div>

<app-footer></app-footer>
