<div
  class="w-80 h-full rounded-md p-6 bg-light-400 flex flex-col justify-between"
>
  <div class="flex flex-col gap-10">
    <div class="flex flex-col gap-4">
      <h2 class="text-xl font-semibold">Create custom route</h2>
      <p>
        Easily plan the perfect path for your next hike with our intuitive route
        planning tool. Click anywhere on the map to draw.
      </p>
    </div>

    <div class="flex flex-col gap-4">
      <h2 class="text-xl font-semibold">Mode</h2>
      <div class="flex gap-3">
        <button
          class="border-2 border-light-700 text-sm w-36 py-3 rounded-md flex flex-col"
          [ngClass]="{
            '!border-dark-900': isAddMode,
            'mode-button': !isAddMode
          }"
          (click)="toggleMode(true)"
        >
          <i
            class="fa-solid fa-compass-drafting fa-2xl h-10 flex items-center justify-center"
          ></i>
          <span class="font-semibold">Planning mode</span>
        </button>
        <button
          class="border-2 border-light-700 text-sm w-36 py-3 rounded-md flex flex-col"
          [ngClass]="{
            '!border-dark-900': !isAddMode,
            'mode-button': isAddMode
          }"
          (click)="toggleMode(false)"
        >
          <i
            class="fa-solid fa-delete-left fa-2xl h-10 flex items-center justify-center"
          ></i>
          <span class="font-semibold">Removal mode</span>
        </button>
      </div>
    </div>

    <div class="flex flex-col gap-4">
      <h2 class="text-xl font-semibold">Route</h2>
      <div class="flex flex-col gap-3">
        <span
          >Distance: <strong>{{ distance | distanceConverter }}</strong></span
        >
        <span
          >Duration: <strong>{{ duration | durationConverter }}</strong></span
        >
      </div>
    </div>
  </div>
  <div class="w-full flex flex-col gap-3">
    <button
      (click)="plannerModal.toggleModal()"
      [disabled]="markers.length < 2"
      class="bg-dark-900 hover:bg-opacity-80 transition w-full text-white py-3 rounded-md font-semibold disabled:bg-opacity-80 disabled:cursor-not-allowed"
    >
      Save custom route
    </button>
    <button
      (click)="onClearMap()"
      [disabled]="markers.length < 1"
      class="bg-dark-900 hover:bg-opacity-80 transition w-full text-white py-3 rounded-md font-semibold disabled:bg-opacity-80 disabled:cursor-not-allowed"
    >
      Clear map
    </button>
  </div>
</div>

<app-planner-modal
  [routeCoordinates]="routeCoordinates"
  [markers]="markers"
  [distance]="distance"
  [duration]="duration"
  #plannerModal
>
</app-planner-modal>
