<div class="flex flex-col gap-10 items-center pt-12">
  <h1 class="text-2xl font-medium">Sign In to JourneyHub</h1>
  <form
    [formGroup]="signInForm"
    (ngSubmit)="onSubmit()"
    class="max-w-sm w-full flex flex-col gap-8"
  >
    <app-input
      [control]="signInForm.controls.email"
      inputId="email"
      inputType="email"
      label="Email"
      [customErrorMessages]="loginValidationMessages.email"
    />

    <app-input
      inputId="password"
      inputType="password"
      [label]="'Password'"
      [control]="signInForm.controls.password"
      [customErrorMessages]="loginValidationMessages.password"
    ></app-input>
    <button
      [disabled]="signInForm.invalid"
      class="bg-dark-900 hover:bg-opacity-80 transition text-white py-3 rounded-md font-semibold disabled:bg-opacity-80 disabled:cursor-not-allowed"
    >
      Sign in
    </button>

    <span class="text-center"
      >Don't have an account
      <a class="underline hover:opacity-50 transition" routerLink="/signup"
        >Sign up</a
      ></span
    >
  </form>
</div>
