<div
  tabindex="-1"
  aria-hidden="true"
  *ngIf="showModal"
  class="overflow-y-auto overflow-x-hidden fixed z-50 justify-center items-center md:inset-0 max-w-md h-fit m-auto"
>
  <div class="relative p-4 w-full h-full">
    <div class="relative bg-white rounded-lg shadow">
      <div class="flex items-center justify-between p-4 border-b rounded-md">
        <h3 class="text-xl font-semibold text-gray-900">Save custom route</h3>
        <button
          type="button"
          class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center transition-colors"
          data-modal-hide="static-modal"
          (click)="toggleModal()"
        >
          <svg
            class="w-3 h-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
            />
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <form
        [formGroup]="saveRouteForm"
        (ngSubmit)="onSubmit()"
        class="w-full flex flex-col gap-5 p-4"
      >
        <div *ngIf="currentPage === 1" class="flex flex-col gap-5">
          <app-input
            inputId="route-name"
            inputType="text"
            label="Route name"
            [control]="saveRouteForm.controls.routeName"
            [customErrorMessages]="planningfValidationMessages.name"
          />

          <hr />
          <app-input
            inputId="route-desc"
            inputType="textarea"
            [label]="'Route description'"
            [control]="saveRouteForm.controls.routeDescription"
          ></app-input>

          <hr />

          <button
            (click)="goToPage(2)"
            [disabled]="saveRouteForm.controls.routeName.invalid"
            class="bg-dark-900 hover:bg-opacity-80 transition w-full text-white py-3 rounded-md font-semibold disabled:bg-opacity-80 disabled:cursor-not-allowed"
          >
            Continue
          </button>
        </div>

        <div *ngIf="currentPage === 2" class="flex flex-col gap-5">
          <div class="flex flex-col gap-4">
            <label
              [for]="inputId"
              [ngClass]="{
                'after:content-[\'*\'] after:text-red-500': isRequired
              }"
              >Add images</label
            >
            <span class="text=[#72767E] text-sm"
              >You can pick up to 4 images</span
            >
            <label
              for="upload"
              class="bg-dark-900 text-center cursor-pointer hover:bg-opacity-80 transition w-36 text-white py-3 rounded-md font-semibold disabled:bg-opacity-80 disabled:cursor-not-allowed"
              >Choose file</label
            >
            <input
              hidden
              type="file"
              id="upload"
              (change)="onFileSelected($event)"
              multiple
            />
            <!-- Images Preview Section -->
            <div
              *ngIf="uploadedImages.length > 0"
              class="grid grid-cols-4 gap-4"
            >
              <div
                *ngFor="let image of uploadedImages; let i = index"
                class="relative"
              >
                <img
                  [src]="image"
                  class="object-cover rounded-md h-20 w-24 border-dark-900 border-2"
                />

                <i
                  class="cursor-pointer fa-solid fa-xmark bg-dark-900 hover:bg-opacity-80 transition-colors text-white absolute top-1 right-1 flex justify-center align-center p-1 rounded-md"
                  (click)="deleteImage(i)"
                ></i>
              </div>
            </div>
          </div>

          <hr />

          <div class="flex flex-col gap-4">
            <label
              [for]="inputId"
              [ngClass]="{
                'after:content-[\'*\'] after:text-red-500': isRequired
              }"
              >Who can view</label
            >
            <select
              formControlName="visibility"
              class="border-light-600 border-2 p-3 rounded-md outline-none focus:border-dark-900 transition-colors"
            >
              <option value="public">Everyone can view</option>
              <option value="private">Only I can view</option>
            </select>
          </div>

          <hr />

          <div class="flex gap-3">
            <button
              type="button"
              class="bg-dark-900 hover:bg-opacity-80 transition w-full text-white py-3 rounded-md font-semibold disabled:bg-opacity-80 disabled:cursor-not-allowed"
              (click)="goToPage(1)"
            >
              Previous
            </button>

            <button
              [disabled]="saveRouteForm.invalid"
              class="bg-dark-900 hover:bg-opacity-80 transition w-full text-white py-3 rounded-md font-semibold disabled:bg-opacity-80 disabled:cursor-not-allowed"
            >
              Save
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div
  *ngIf="showModal"
  (click)="toggleModal()"
  class="opacity-50 fixed inset-0 z-40 bg-black"
></div>
`
